<%- include('header') %>

<body>
    <%- include('nav') %>


    <main>
        <div class="tab-content" id="DailyLog">
            <section class="log">
                <div class="log__table">
                  <ul class="log__row--heading">
                      <li class="log__heading">RegNo</li>
                      <li class="log__heading">Name</li>
                      <li class="log__heading">Time</li>
                      <li class="log__heading">Status</li>
                  </ul>
                </div>
            </section>
        </div>
<div class="tab-content" id="AddUser">

  <div class="adduser-panel">
    <form class = "adduser" action="/" id="adduser">
      <div class="upper">
        <h2>Enter new user</h2>
        <input type="image" name="profile-pic" id="adduser-pic" src="assets/imgs/giki-logo-updated.png" width="200">
      </div>
      <div class = "modal-flex">
        <input type="text" name="name" placeholder="Name" pattern="[A-Za-z\s]+" title="Only letters and spaces are allowed" required autofocus> 
      </div>
      <div class = "modal-flex">
        <input type="text" name="fathername" placeholder="Father's Name"  pattern="[A-Za-z\s]+" title="Only letters and spaces are allowed" required>
      </div>
      <div class = "modal-flex">
        <input type="text" name="regno" placeholder="Registration Number" title="Only 7 digits allowed" pattern="\d{7}" required>
      </div>
      <div class = "modal-flex">
        <input type="text" name="cnic" placeholder="CNIC" pattern="\d{13}" title="only 13 digits allowed" required>
      </div>
      <div class = "modal-flex">
        <input type="text" name="faculty_dept" placeholder="Faculty/Dept" pattern="[A-Za-z\s]+" title="Only letters and spaces are allowed" required>
      </div>
      <div class = "modal-flex">
        <input type="text" name="designation" placeholder="Designation" pattern="[A-Za-z\s]+" title="Only letters and spaces are allowed" required>
      </div>
      <div class = "modal-flex">
        <label for="dob">Date of birth:</label>
        <input type="date" name="dob" required>
      </div>
      <div class = "modal-flex">
        <input type="text" name="contactno" placeholder="Contact Number" pattern="\d{11}" title="Only 11 digits allowed" required>
      </div>
      <div class = "modal-flex">
        <input type="text" name="emergencycontactname" placeholder="Emergency Contact Name" pattern="[A-Za-z\s]+" title="Only letters and spaces are allowed" required>
      </div>
      <div class = "modal-flex">
        <input type="text" name="emergencycontactnumber" placeholder="Emergency Contact Number" pattern="\d{11}" title="Only 11 digits allowed" required>
      </div>
      <div class = "modal-flex">
        <input type="text" name="identificationmark" placeholder="Identification Mark" pattern="[A-Za-z\s\d]+" title="Only letters, numbers and spaces are allowed" required>
      </div>
      <div class = "modal-flex">
        <input type="text" name="permanentaddress" placeholder="Permanent Address" required>
      </div>
      <div class = "modal-flex">
        <input type="text" name="bloodgroup" placeholder="Blood Group" required pattern="[Oo][+-]|[Aa][+-]|AB|ab[+-]|[Bb][+-]" title="Only blood types allowed eg:AB+ or O-">
      </div>
      <div class = "modal-flex">
        <input type="text" name="vehicle_no" placeholder="Vehicle Number" pattern="[A-Za-z]{3}[\d]{3}" title="Only Number plate allowed eg:AAA001 or ZZZ999">
      </div>
      <div class="modal-flex">
        <button type="submit" class="adduser-submitbtn">
          Add new user
        </button>
      </div>
    </form>
  </div>

</div>

<div class="tab-content" id="UserInfo">
    <div class="search-bar-main">
        <input placeholder="Search" type="text" />
      </div>
      <section class="section__search">
        <div id="search__container">

        </div>
</div>

<div class="tab-content" id="VisitorLog">
    <section class="log">
        <div class="log__table">
          <ul class="log__row--heading">
              <li class="log__heading">CNIC</li>
              <li class="log__heading">Name</li>
              <li class="log__heading">Time</li>
              <li class="log__heading">Status</li>
          </ul>
        </div>
    </section>
</div>
</main>
</section>


<div id="error">
  <div id="error__div">
    <button id="error__accept">Okay</button>
  </div>
</div>

</body>
</html>